@import '../Main.scss';

.accordion-item {
    width: 100%;

    @media (max-width: 768px) {
        width: 100%;
    }

    .accordion-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 52px;
        padding: 0 20px;
        border-radius: 10px;
        background-color: $red;
        border: none;
        font-size: 18px;
        font-weight: 700;
        font-family: $main-font;
        color: $white;

        @media (max-width: 768px) {
            height: 30px;
        }

        @media (min-width: 769px) and (max-width: 1024px) {
            height: 41px;
        }

            .accordion-button-img {
                width: 20px;      
        
                &:hover {
                    opacity: 0.5;
                }
            }

            .open {
                transform: rotate(180deg);
                transition: transform 0.5s ease;
            }
    };

    .accordion-content {
        position: relative;
        max-height: 0;
        z-index: -1;
        overflow: hidden;
        transition: max-height 0.3s ease;
        border-radius: 10px 10px 5px 5px;
        background-color: $grey;
        

        .accordion-text, text {
                font-size: 18px;
                font-weight: 400;
                padding: 15px;
                line-height: 25px;
                text-align: justify;

            .text {
                margin: 0;

                @media (max-width: 768px) {
                    font-size: 12px;
                    line-height: 17px;
                }

                @media (min-width: 769px) and (max-width: 1024px) {
                    font-size: 15px;
                    line-height: 21px;
                }
        
            };
        };
    }

    .shown {
        max-height: 9999px;
    }

    .hidden {
        max-height: 0;
    }
};