@import '../MainColors/Colors.scss';
@import '../MainFonts/Font.scss';

.counter {
	position: absolute;
	bottom: 5%;
	left: 50%;
    font-size: 18px;
    font-weight: 500;
    color:$white;

    @media (max-width: 768px) {
        display: none;
    }
}