@import '../Main.scss';

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    height: 209px;
    background-color: $black;

    .logoWhite {
        width: 122px;
        height: 39px;
        margin-top: 40px;
    }

    .footer-text {
        font-size: 24px;
        font-weight: 500;
        color: $white;

        @media (max-width: 768px) {
            font-size: 12px;;
        }
    }
}