@import '../Main.scss';

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 40px;
    padding: 40px;
    border-radius: 25px;
    background: rgba(246, 246, 246, 1);

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 20px;
        margin-top: 20px;
        padding: 0;
        background-color: $white;
    };

    @media (min-width: 769px) and (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }
};