@import 'Colors.scss';
@import 'Font.scss';

.infos {
    display: flex;
    justify-content: space-between;

    .infos-title {
        
        .apartment-title {
            font-size: 36px;
            font-weight: 500;
            color: $red;
        };
    
        .apartment-gps {
            font-size: 18px;
            font-weight: 500;
            color: $black;
        };
    };
};

.apartment-accordions {
    display: flex;
    gap: 100px;
    margin-top: 20px;

    .accordion-item {
        width: 50%;
        
        .accordion-button {
            width: 100%;
        
        }
    }
}

    
    