@import 'Colors.scss';
@import 'Font.scss';

.card-link {
    text-decoration: none;

    .grid-card {
        position: relative;
        height: 340px;
        border-radius: 10px;
        background-color: $red;

        .grid-card--img {
            width: 100%;
            height: 75%;
            object-fit: cover;
            border-radius: 10px 10px 0 0;
        }

        .grid-card-title {
            display: inline-block;
            font-size: 18px;
            font-weight: 700;
            padding: 10px;
            color: $white;
        };
    };
};