@import 'Colors.scss';
@import 'Font.scss';

.profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    .profile-name {
        font-size: 18px;
        font-weight: 500;
        color: $red;
        text-align: right;
        width: 50%;
    }

    .profile-pic {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }
};