@import 'Colors.scss';
@import 'Font.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @media (max-width: 768px) {
        min-width: 190px;    
    }

    .navbar-logo {
        max-width: 210px;
        height: 68px;

        @media (max-width: 768px) {
            max-width: 145px;
            height: 46px;
        }
    }

    .navbar-menu {
        display: flex;
        gap: 60px;

        @media (max-width: 768px) {
         gap: 30px; 
         padding: 0;
        }

        &--link {
            list-style: none;

            @media (max-width: 768px) {
                text-transform: uppercase;
            }

            a {
                font-size: 24px;
                font-weight: 500;
                text-decoration: none;
                color: $black;

                @media (max-width: 768px) {
                    font-size: 12px;
                }

                @media (min-width:769px) and (max-width: 1024px) {
                    font-size: 18px;
                }
            }

            .active {
                text-decoration: underline;
            }

            .not-active {

                @media (max-width: 768px) {
                    text-transform: uppercase;
                }
            }
        }
    }


}