@import 'Font.scss';
@import 'Colors.scss';

.rating-stars {
    display: flex;
    justify-content: flex-start;

    .grey-stars,
        .red-stars {
            display: flex;
            justify-content: flex-start;
            gap: 10px;
        };

    .star {
        width: 24px;
        height: 24px;
    };
};

