@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import './MainColors/Colors.scss';
@import './MainFonts/Font.scss';

.container {
    max-width: 1240px;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 0 20px;
    font-family: $main-font;

    @media (max-width: 768px) {
     padding: 0 20px;  
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        padding: 0 20px;  
       }
};

body {
    margin: 0;
};